<div class="footer">
    <p>H-IAAC - Eldorado</p>

    <div class="end">
        <a href="/">HOME</a>
        &emsp;
        <a href="/experimentos">Experimentos</a>
        &emsp;        
        <a href="/log">Logs</a>
    </div>
</div>