<div class="header-content">
    <div id="header-left">
        <a href="/" class="logo">
            <img src="/static/images/logo.svg" alt="H.IAAC">
        </a>
    </div>
    <div id="header-right">
        <form method="post" action="/out">
            <input type="submit" value="Sign Out" class="btnSmall">
        </form>
    </div>
</div>

<script type="text/javascript">
    const signout = document.getElementById('header-right');

    window.onload = function() {
        if (window.location.href.indexOf("/login") != -1) {
            signout.style.visibility = 'hidden';
        }
    }

    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>