<html>

<head>
    <title>H-IAAC - Federated Test</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/upload.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <%- include('./partials/header.ejs') %>
            <main><%- body %></main>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

<script type="text/javascript">

</script>

</html>