<div class="center">
    <a href="/upload">
        <button class="btn">Upload a Video</button>
    </a>
</div>
<div class="center">
    <a href="/experimentos">
        <button class="btn">Experimentos</button>
    </a>
</div>
