<div class="center">
    <a href="/upload">
        <button class="btn">Upload a Video</button>
    </a>
</div>
<div class="center">
    <a href="/coletas">
        <button class="btn">Coletas</button>
    </a>
</div>
