<div class="start">
    <% if (log) { %>
        <p class="pre"><%= log %></p>
    <% } %>
</div>

<section class="bottom">
    <div class="center">
        <button onclick="window.history.back()">Back</button>
    </div>
</section>

<script type="text/javascript">
    function scrollToBottom() {
        window.scrollTo(0, document.body.scrollHeight);
    }

    history.scrollRestoration = "manual";
    window.onload = scrollToBottom;
</script>