<div class="center">
    <form action='#' onsubmit="return false;">
        <input type="text" id="label" placeholder="Label" />
        <p id="upload_msg" hidden>Selecione o arquivo de video:</p>
        <br>
        <input type="file" id="file" accept=".mp4" onchange="videoSelected()" />
        <br>
        <p id="duration">&nbsp;</p>
        <br>
        <div class="center">
            <button onclick="upload()" class="btn">Upload</button>
        </div>
        <br>
        <div class="progressUpload"></div>
    </form>
</div>
<div class="center" style="height: 20px;">
    <p id="message"> </p>
</div>
<section class="bottom">
    <div class="center">
        <button class="btnBack" onclick="onBackClicked()" class="btn">Back</button>
    </div>
</section>

<script src="/upload/uploader.js"></script>

<script type="text/javascript">

    function onBackClicked(label) {
        if (experiment) {
            window.location.href = '/experimentos';
        } else {
            window.history.back();
        }
    }

</script>